body {
    margin:0;
    padding:0;
}
h1{
    font-family: 'Lobster', cursive;
}
#hero-image{
    top: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: auto;
    
}
.logo{
    position :absolute;
    font-size: 50px;
    left: 0.5em;
    font-family: 'Lobster', cursive;
}
#section-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align:center;
  margin-top:2em;
}
.sect{
  display: flex;
  flex-direction: column;
}
.color-button, .name-button, .change-pic, .discount {
    width: 15em;
    padding: 5px;
    margin: 10px auto;
    box-sizing: content-box;
}
.dept {
    width: 130px;
    height: 100px;
    margin: 5px;
    box-sizing: content-box;
  }
.departmentBlock {
    width: 300px;
    box-sizing: content-box;
    display: flex;
   justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    height: 400px;
   
    
}
#jumper{
  width: 200px;
  height: auto;
}
#angry-cat{
    width: 200px;
    height: auto;
    margin-bottom: 1em;
}
/* 
# Tablet */
@media only screen and (min-width: 768px){
    #section-container{
        width:100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align:center;
        margin-top:2em;
      }
}

/* # Desktop */
@media only screen and (min-width: 992px){
    #section-container{
        width:100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align:center;
        margin-top:2em;
      }
}

/* # Huge */
@media only screen and (min-width: 1150px){
    #section-container{
        width:100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align:center;
        margin-top:2em;
      }

} 
@media only screen and (max-width: 768px){
    #section-container{
        width:100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align:center;
        margin-top:2em;
      }
    
}